@font-face {
    font-family: 'regular-font';
    src: url('../font/drawfont.ttf') format('truetype');
}

* {
    --accent: #556fac
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#invitation {
    border-radius: 5px;
}

.card {
    box-sizing: border-box;
    padding: 8px 10px;
    background-color: var(--accent);
    color: white;
    border-radius: 5px;
}

#info {
    position: absolute;
    top: 5px;
    background: white;
    box-shadow: 0 1px 7px 0px #000000b0;
    color: black;
}

#output{
    border-radius: 5px;
}